---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<head>
    <script
        type="module"
        src="https://gradio.s3-us-west-2.amazonaws.com/5.34.2/gradio.js"
    ></script>
</head>

<StarlightPage frontmatter={{ title: "Resume Chat" }}>
    Also my resume is <a href="/resume">here</a>

    <gradio-app src="https://evotianusx-evo-resume-chat.hf.space"></gradio-app>
</StarlightPage>
