---
import Folder from "../components/Folder.svelte";

import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage frontmatter={{ title: "Find Folder" }}>
  Also my resume is <a href="/resume">here</a>
  <Folder client:load />
</StarlightPage>
