---
import Splitter from "../components/Splitter.svelte";

import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage frontmatter={{ title: "Bill Splitter" }}>
  Also my resume is <a href="/resume">here</a>
  <Splitter client:load />
</StarlightPage>
